# PWSkills Day 2 Data Science Class - Utkarsh Gaikwad

print(123)

In [2]:
age = 28
print('My age is :',age)

My age is : 28

In [3]:
#fstring
print(f"My age is {age}")

My age is 28

In [4]:
#format
name = 'Utkarsh'
age = 28
print('My Name is {} and age is {}'.format(name,age))

My Name is Utkarsh and age is 28

In [5]:
# Placeholder
print('My Name is {FirstName} and age is {FirstAge}'.format(FirstName=name,FirstAge=age))

My Name is Utkarsh and age is 28

# Control Flow (if statements)

In [6]:
age = input('Please Enter your age :')
age = int(age)
if age>=18 and age<=45:
    print('You are young blood')

Please Enter your age : 30

You are young blood

In [12]:
price = float(input('Enter the price :'))
if price>3000:
    print('You got 20% off')
    print('Product price after discount:',0.8*price)
elif price>=2000 and price<=3000:
    print('You got 30% off')
    print('Product price after discount:',0.7*price)
elif price>=1000 and price<2000:
    print('You got 40% off')
    print('Product price after discount:',0.6*price)
else:
    print('You get no discount')
    print('Product price with no discount',price)

Enter the price : 4000

You got 20% off
Product price after discount: 3200.0

# Loops

### While Loop with else block

In [3]:
age = 28
while age<=60:
    print(age)
    age = age+1    
else:
    print('Its time for retirement')

28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [4]:
#Atm with 1000 amount
amt = 1000
while amt!=0:
    print(amt)
    amt = amt - 100
else:
    print('Cash Dispensed')

1000
900
800
700
600
500
400
300
200
100
Cash Dispensed

### For Loop

In [5]:
l = ['Utkarsh',1,2,3,'apple','banana']

In [6]:
type(l)

list

In [7]:
l[0]

'Utkarsh'

In [9]:
l[3]

3

In [12]:
for x in l:
    print(x,'\t', type(x))

Utkarsh 	 <class 'str'>
1 	 <class 'int'>
2 	 <class 'int'>
3 	 <class 'int'>
apple 	 <class 'str'>
banana 	 <class 'str'>

In [19]:
fruit_list = ['apple','orange','cherry','banana','grapes','strawberry']
for a in fruit_list:
    print(a)
    if a == 'banana':
        print('This is banana')

apple
orange
cherry
banana
This is banana
grapes
strawberry

In [20]:
fruit = 'orange'
for i in fruit:
    print(i)

o
r
a
n
g
e

In [21]:
fruit[0]

'o'

In [23]:
fruit[3]

'n'

### Nested Loop

In [25]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [30]:
n = 10
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\r')

*
**
***
****
*****
******
*******
********
*********
**********

In [31]:
fruit_list

['apple', 'orange', 'cherry', 'banana', 'grapes', 'strawberry']

In [33]:
for i in fruit_list:
    if i=='banana':
        print('This is Banana')
        break
    print(i)

apple
orange
cherry
This is Banana

In [34]:
for i in fruit_list:
    if i=='banana':
        print('This is Banana')
        pass
    print(i)

apple
orange
cherry
This is Banana
banana
grapes
strawberry

In [35]:
for i in fruit_list:
    if i=='banana':
        print('This is Banana')
        continue
    print(i)

apple
orange
cherry
This is Banana
grapes
strawberry